{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change-password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current" placeholder="Current Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="At least 8 characters including: at least one lowercase and one uppercase letter" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Your Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}
